body {
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/
header {
    display: flex;
    position: fixed;
    background-color: white;
    height: 60px;
    width: 100%;
    align-items: center;
    top: 0;
    z-index: 2;
}

.header .header-1 {
    flex-grow: 1;

}

.header .header-2    {
    cursor: pointer;
    position: relative;
    align-items: center;
    margin-right: 20px;
    font-size: 25px;
}
.header .header-3 {
    display: flex;
}
.header .header-3 .member {
    display: inline;
    
}
.header .header-3 div button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: white;
}
.header .header-3 div button span {
    color:red;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 20px;

}
.header .header-3 .member #alt {
    color: white;
    margin-right: 5px;
    width: 1em;
    height: 1em;
    font-size: 1.2rem;
    background-color: #cb1c3b;
    border-radius: 50% ;
    border: #cb1c3b 4px solid;

}
.header .header-3 .member div span {
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
.header .header-4 button{
    color: black;
    align-items: center; 
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    line-height: 1.5;
    border: 0;
    background-color: white;
}
.header .header-4 button img {
    width: 25px;
    margin-right: 3px;
}
.header .header-4 button div span {
    font-size: 8,075rem;
}
/*login*/
.login-dk {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.login-item-dk {
    height: 100%;
    display: grid;
    place-content: center;

}

.login-img {
    width: 480px;
}

.login-item {
    display: flex;
}

.login-r {
    width: 480px;
    background-color: white;
}
.login-dk .login-item-dk .login-r .login-input {
    display: block;
    
}

.login-dk .login-item-dk .login-r .login-text h1 {
    color: #A80000;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    
}
.login-dk .login-item-dk .login-r .login-text p {
    text-align: center;
}
.login-dk .login-item-dk .login-r .login-input{
    margin: 0px 48px;
}
.login-dk .login-item-dk .login-a {
    display: flex;
    margin-top: 20px;
}
.login-dk .login-item-dk .login-a .left{
    margin-right: auto;
    cursor: pointer;
    
}
.login-dk .login-item-dk .login-a .right a{
    color: rgb(10, 128, 32); 
    text-decoration: none;
}
.login-dk .login-item-dk .login-btn{
    color: white;
    background-color: #0A8020;
    border: 0;
    font-size: 15px;
    padding: 7px 90px;
    margin: 0 45px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;


}
.login-dk .login-item-dk span a{
    text-decoration: none;
    color:  rgb(10, 128, 32);
}
.login-dk .login-item-dk .login-item .login-r .close {
    cursor: pointer;
    float: right;
    margin-right: -15px;
    margin-top: -10px;
}
/*khac*/
.form{
    background: white;
    width:40%;
    margin: auto;
    height: 100px;
    text-align: center;
    z-index: 1;
    padding: 10px;
    box-shadow: 0px 24px 31px -13px rgb(0 0 0 / 40%);
}
.tab{
    width:50%;
    background-color: transparent;
    border: 1px solid black;
    padding: 15px;
    cursor: pointer;
}
.bright{
    background-color: white;
}

.sec-2 {
    text-align: center;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #e9ebee;
}

.header-sec-2 {
    display: flex;
    align-items: center;

}

.header-sec-2-text {
    width: 50%;
    text-align: center;
}

.red {
    color: red;
}

.list-img-sec-2 {
    display: flex;
    justify-content: center;
}

.list-img-sec-2 a img {
    width: 65%;
    margin: 10px;
}

.button-sec-2 {
    color: white;
    width: 90%;
    padding: 15px;
    font-size: 16px;
    background-color: green;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #1a1a1a;
    color: white;
    font-size: 12px;
    padding: 20px;
    margin-top: 20px;
    font-weight: 100;
}

.list-1 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 30px 10;
    max-width: 1060px;
    justify-content: space-between;
}



.footer-item {
    padding: 22px;
}
.footer-item .text-1 {
    color: #fdd760;
    font-size: 13px;
    margin-top: 20px;
    text-align: left;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;

}
.footer-item .text {
    text-decoration: none;
    color: white;

}
.list-2 {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 30px 10;
    max-width: 1060px;
    justify-content: space-between;

}
